# Coursera Capstone project week 3 assignment

## Part 1

In [78]:
# Import all libraries
import pandas as pd
import lxml
import folium
import numpy as np
import json
import requests
from sklearn import preprocessing
from sklearn import cluster
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.cm as cm
import matplotlib.colors
%matplotlib inline

We retrieve the data from the wikipedia page:

In [79]:
# Use the pd.read_html method to retrieve the data
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
list_data = pd.read_html(url)

# The first list item is the data frame of the postal codes
df_base = list_data[0]
# Renaming Column
df_base.rename(columns = {'Neighbourhood': 'Neighborhood'}, inplace = True)
df_base.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [80]:
# Build a new frame with all entries that have a borough assigned
df = df_base[df_base.Borough != 'Not assigned']
# Resetting Index
df.reset_index(inplace = True, drop = True)
df.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [81]:
# Displaying the shape of the final data frame as well as the number of unique postal codes
print("Shape of the DatFrame: " + str(df.shape))
print("Number of unique postal codes: " + str(df['Postal Code'].nunique()))

Shape of the DatFrame: (103, 3)
Number of unique postal codes: 103

We see that the number of rows in the data frame matches the number of unique postal codes, implying that there are indeed no duplicates.

## Part 2

In [82]:
#Download geographical data
url_geo = 'http://cocl.us/Geospatial_data'
geo_df = pd.read_csv(url_geo)
geo_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [83]:
# Use merge method to build a new data frame that contains the geospatical information
joined_df = pd.merge(df, geo_df, left_on = 'Postal Code', right_on = 'Postal Code')
# Reset Index
joined_df.reset_index(drop = True, inplace = True)
# Show resulting frame and size
print(joined_df.shape)
joined_df.head()

(103, 5)

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494